* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #fbab7e;
}

h2 {
  font-size: 30px;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #323b41 0%, #9092ad 100%);

  color: rgb(255, 255, 255);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: top;
  margin: 5rem;
}

a {
  font: bold 11px Arial;
}

.project {
  padding: 1rem;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  padding: 1rem;
}

.project > p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.technologies {
  padding-top: 2rem;
  font-size: 15px;
  font-style: italic;
}

.links {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.links > a {
  text-decoration: none;
  background-color: #288fd3;
  color: #ffffff;
  padding: 6px;
  border: 1px solid rgb(20, 44, 124);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 20px;
  margin: 1rem;
}

.images > img {
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
